<main>
  <div class='top-wrapper'>
    <div class="contents">
      <div class='top-inner-text'>
        <%= image_tag 'replog_top_v4_figma_2.png', class: 'pc-replog-top' %>
      </div>
    </div>
  </div>
  <div class="explanation-wrapper">
    <div class="contents">
    <h2 class="label">爬虫類は他のペットと違う特性をもつ生き物です</h2>
    <p class="red">「あれ？前回いつ餌をあげたっけ？」</p>
    <p>
      そんな風に思ったことがありませんか?<br>
      爬虫類を飼育する際の給餌頻度は数日おきで良いので、どの生体にいつどんな餌を与えたのか忘れてしまいます。<br>
      また、爬虫類は定期的に脱皮をしたり、シビアな温度管理、排泄の頻度も数日おきに発生したりと、<br>
      他のペットにはないような特徴をうまく汲み取って飼育管理を行う必要があります。
    </p>
    <p>レプログ!は、そんな悩みを解消し、かんたんにお世話記録をすることができるサービスです。</p>
    </div>
  </div>
  <div class="middle-wrapper">
    <h2 class="middle_title label">レプログで飼育管理しよう</h2>
    <div class="contents">
      <div class="text-contents">
        <h2 class="timeline">直感的で見やすいタイムライン</h2>
        <p>飼育記録はボタンをタップするだけの誰でも使いやすい単純操作。<br>お世話データをタイムライン上で直感的に見やすいアイコン形式で確認することができます。<p>
      </div>
      <div class="image-contents">
        <%# <%= image_tag 'timeline.png', size: '250x250' %>
        <%= image_tag 'Timeline_Mockup.png',size: '250x470' %>
      </div>
    </div>
    <div class="contents">
      <div class="text-contents">
        <h2 class="calendar">飼育記録をカレンダーで確認</h2>
        <p>全体を見通せる月間カレンダーで登録したお世話データを過去に遡って確認することができます。<br>カレンダーの日付をタップすることで飼育記録をつけることもできます。</p>
      </div>
      <div class="image-contents">
        <%# <%= image_tag 'calendar.png', size: '250x250' %>
        <%= image_tag 'Calendar_Mockup.png', size: '250x470' %>
      </div>
    </div>
    <div class="contents">
      <div class="text-contents">
        <h2 class="chart">ひと目で分かるグラフ</h2>
        <p>今まで登録した生体の成長過程や温度・湿度データをグラフで視覚的に把握することができます。<br>ボタンをタップすることでそれぞれのステータスに切り替えることができます。<p>
      </div>
      <div class="image-contents">
        <%# <%= image_tag 'bar-chart.png', size: '250x250' %>
        <%= image_tag 'Chart_Mockup.png', size: '250x470' %>
      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <h2 class="check">さあ、あなたもレプログ!で飼育管理をはじめましょう。</h2>
    <p>※会員登録せずにゲストログインすることでサービスの中身を覗いてみる事ができます。<br>実際に使用される場合は会員登録してください。
    </p>
      <div class="btn-wrapper">
        <div class="reve_btn">
          <%= link_to new_user_path, class: 'new-btn' do %>
          <i class="fas fa-pen"></i> 会員登録を行う
          <% end %>
        </div>
        <div class="guest_btn">
          <%= link_to guest_login_path, class: 'guest-btn', method: :post do %>
          <i class="fas fa-user"></i> ゲストログイン
          <% end %>
        </div>
      </div>
  </div>
</main>