<% content_for(:title, t('.title')) %>
<div class="container">
  <h1 class="user"><%= t('.title') %></h1>
  <div class="row user_profile">
    <div class="col-sm-4">
      <div class="avatar">
        <% if current_user.avatar && current_user.avatar.url %>
          <%= image_tag current_user.avatar.url %>
        <% else %>
          <%= image_tag 'default_user.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="name-space">
        <div class="name">
          <%= current_user.name %>
        </div>
        <div class="crud_menus">
          <span class='edit_link'>
            <%= link_to edit_profile_path do %>
              <i class="fas fa-edit"></i>編集
            <% end %>
          </span>
        </div>
      </div>
      <%# <%= render 'profile_stats' %>

      <div class="details">
        <div class="comment detail-content">
          <div class="icon-area">
            <i class="fas fa-comment"></i>
          </div>
          <div class="text-area">
            <div class="icon-text small">
              ひとこと
            </div>
            <div class="icon-message">
              <% if current_user.comment.present? %>
                <%= current_user.comment %>
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <%= link_to '退会手続きへ', withdrawal_profile_path, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>