<% content_for(:title, t('.title')) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag @user.avatar.url, size:'100x100' %>
      <h4><%= @user.name %></h4>
      <%= render 'profile_stats', user: @user %>
    </section>
  </aside>

  <div class="col-md-8">
    <h3 class="content_title"><i class="fas fa-user-check"></i>フォロー一覧</h3>
    <section class="content-follow">
      <ul class="text-center nav nav-tabs">
        <li class="nav-item w-50 bg-light">
          <%= link_to 'フォロー中', following_profile_path, class: "nav-link link-text #{ active_if('profiles','following') }", 'aria-current': "page" %>
        </li>
        <li class="nav-item w-50 bg-light">
          <%= link_to 'フォロワー', followers_profile_path, class: "nav-link link-text #{ active_if('profiles','followers') }" %>
        </li>
      </ul>
    </section>
      <ul class="users follow">
        <%= render @users %>
      </ul>
  </div>
</div>