<div class="container">
  <div class="row">
    <div class='col-md-10 offset-md-1 col-lg-8 offset-lg-2'>
      <h1>ユーザー登録</h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :password %>
          <%= f.text_field :password, class:'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :password_confirmation %>
          <%= f.text_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit '登録', class: 'btn btn-primary' %>
      <% end %>
      <div>
        <%= link_to 'ログインページへ', login_path %>
      </div>
    </div>
  </div>
</div>