<footer class="fixed-bottom bg-light footer_menu" style="height: 60px;">
  <div class="container-fulid">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto d-flex align-items-center justify-content-between" style="height: 60px;">
        <%= link_to reptiles_path, class: "nav-link text-dark #{ active_if('reptiles', 'index') }" do %>
          <figure style="position: relative; top: 10px; text-alingn: center;">
            <span class="iconify" data-icon="mdi:snake" data-width="25" data-height="25"></span>
            <figcaption class="me-1 mt-1 d-block" style="font-size: xx-small;">リスト</figcaption>
          </figure>
        <% end %>
        <% if (controller_name == 'reptiles' && action_name == 'show') || (controller_name == 'logs' && action_name == 'new') || (controller_name == 'logs' && action_name == 'index') || (controller_name == 'events' && action_name == 'index') || (controller_name == 'charts' && action_name == 'index') %>
          <%= link_to reptile_logs_path(@reptile), class: "nav-link text-dark #{ active_if('logs', 'index') }" do %>
            <figure style="position: relative; top: 9.0px; text-align: center;">
              <span class="iconify" data-icon="clarity:timeline-line" data-width="30" data-height="30"></span>
              <figcaption class="d-block" style="font-size: xx-small; margin-top: .1rem;">タイムライン</figcaption>
            </figure>
          <% end %>
        <% end %>
        <% if (controller_name == 'reptiles' && action_name == 'show') || (controller_name == 'logs' && action_name == 'index') || (controller_name == 'logs' && action_name == 'new') || (controller_name == 'events' && action_name == 'index') || (controller_name == 'charts' && action_name == 'index') %>
          <%= link_to new_reptile_log_path(@reptile), class: "nav-link text-dark #{ active_if('logs', 'new') }" do %>
            <figure style="position: relative; top: 10px; text-align: center;">
              <i class="fas fa-plus fa-lg"></i>
              <figcaption class="mt-1 d-block" style="font-size: xx-small;">記録</figcaption>
            </figure>
          <% end %>
        <% end %>
        <% if (controller_name == 'reptiles' && action_name == 'show') || (controller_name == 'logs' && action_name == 'index') || (controller_name == 'logs' && action_name == 'new') || (controller_name == 'events' && action_name == 'index') || (controller_name == 'charts' && action_name == 'index') %>
          <%= link_to reptile_events_path(@reptile), class: "nav-link text-dark #{ active_if('events', 'index') }" do %>
            <figure style="position: relative; top: 10px; text-align: center;">
              <i class="fas fa-calendar fa-lg"></i>
              <figcaption class="ms-1 mt-1 d-block" style="font-size: xx-small">カレンダー</figcaption>
            </figure>
          <% end %>
        <% end %>
        <% if (controller_name == 'reptiles' && action_name == 'show') || (controller_name == 'logs' && action_name == 'index') || (controller_name == 'logs' && action_name == 'new') || (controller_name == 'events' && action_name == 'index') || (controller_name == 'charts' && action_name == 'index') %>
          <%= link_to reptile_charts_path(@reptile), class: "nav-link text-dark #{ active_if('charts', 'index') }" do %>
            <figure style="position: relative; top: 10px; text-align: center">
              <i class="fas fa-chart-line fa-lg"></i>
              <figcaption class="mt-1 d-block" style="font-size: xx-small">グラフ</figcaption>
            </figure>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</footer>