<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo_1.png' %>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to '爬虫類リスト', reptiles_path, class: "nav-link #{ active_if('index') }" %>
        </li>
        <li class="nav-item">
          <%= link_to t('reptiles.new.title'), new_reptile_path, class: "nav-link #{ active_if('new') }" %>
        </li>
        <li class="nav-item">
          <%= link_to t('profiles.show.title'), profile_path, class: "nav-link #{ active_if('show') }" %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.logout'), logout_path, class: 'nav-link', method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>

