<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #548c7c;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'replog4.png',size: '135x30' %>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= render 'users/search_form', q: @q, url: search_users_path %>
        </li>
        <li class="nav-item">
          <%= link_to reptiles_path, class: "nav-link #{ active_if('reptiles', 'index') }" do %>
            <span class="iconify" data-icon="mdi:snake" data-width="25" data-height="25"></span>
            生体リスト
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to profile_path, class: "nav-link #{ active_if('profiles', 'show') }" do %>
            <i class="fas fa-user-cog fa-lg"></i>
            マイプロフィール
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to logout_path, class: 'nav-link', method: :delete do %>
            <i class="fas fa-sign-out-alt fa-lg"></i>
            ログアウト
          <% end %>
        </li>

        <li class='nav-item dropdown'>
          <a href='#' class='nav-link dropdown-toggle' id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar_url, class: 'rounded-circle mr15', size: '40x40'%>
          </a>
          <div class='dropdown-menu dropdown-menu-end' aria-labelledby="navbarDropdownMenuLink">
            <div class='dropdown-item'><%= current_user.name %></div>
            <div class='dropdown-divider'></div>
            <%= link_to t('profiles.show.title'), profile_path, class: 'dropdown-item' %>
            
            <%= link_to t('defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

