<% content_for(:title, @reptile.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <table class="table table-bordered bg-white">
        <tr>
          <th scope="row"><%= Reptile.human_attribute_name(:id) %></th>
          <td><%= @reptile.id %></td>
        </tr>
        <tr>
          <th scope="row"><%= Reptile.human_attribute_name(:name) %></th>
          <td><%= @reptile.name %></td>
        </tr>
      </table>

      <ul class="list-group">
        <% @logs_by_date.each do |date, logs| %>
        <li class="list-group-item">
          <h4 class="mb-0"><%= l date, format: :long %></h4>
          <% logs.each do |log| %>
            <div>
              <span class="small text-gray"><i class="far fa-clock me-1"></i></i><%= l log.logged_at, format: :time_only %></span>
              <%= link_to admin_reptile_log_path(@reptile, log), class: 'delete-icon ms-2 text-decoration-none text-danger', method: :delete, data: { confirm: "#{l log.logged_at, format: :long}の記録を削除しますか？" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
              <%= render 'logs/logs', log: log %>
            </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- ページネーション -->
      <%= paginate @logs, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
