<%= form_with model: reptile, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row reptile_profile", id="edit_profile">
    <div class="col-sm-4">
      <div class="image">
        <div id="image_field">
          <% if reptile.image && reptile.image.url %>
            <%= image_tag reptile.image.url, size: '200x200', class: 'd-block mx-auto', id: 'preview' %>
          <% else %>
            <%= image_tag 'default_reptile.png', class: 'd-block mx-auto' %>
          <% end %>
        </div>
      </div>
      <%= f.label :image, class: 'form-label d-block' do %>
        <span class="btn-flat-dashed-border", id="image_btn"><i class="fas fa-image"></i>ファイルを選択</span>
        <%= f.file_field :image, placeholder: 'プロフィール画像', class: "image_form hidden", accept: 'image/*' %>
      <%= f.hidden_field :image_cache %>
      <% end %>
    </div>

    <div class="col-sm-8">
      <div class="mb-3">
        <%= f.label :name, class: 'form-label' %>  <span class="badge bg-danger">必須</span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :morph, class: 'form-label' %>
        <%= f.text_field :morph, class: 'form-control', placeholder: '例)ノーマル' %>
      </div>
      <div class="mb-3">
        <%= f.label :sex, class: 'form-label' %><br>
        <%= f.collection_radio_buttons :sex, Reptile.sexes_i18n, :first, :last do |b| %>
        <%= b.label(class: 'form-check-label') { b.radio_button(class: 'form-check-input') + b.text } %>
        <% end %>
      </div>
      <div class="mb-3">
        <%= f.label :birthday, class: 'form-label' %><br>
        <div class="select_raw">
          <%= raw sprintf(f.date_select(:birthday, {prefix:'birthday', prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:1920, date_separator:'%s'} ,{class: 'form-select', style: 'display: inline-block;width: auto;'}),'年','月')+'日' %>
        </div>
      </div>
      <div class="mb-3">
        <%= check_box_tag :check_birthday, class: 'form-check-input', id:'check_birthday' %>
        <%= label_tag :check_birthday, "わからない", class: 'fomr-check-label' %>
      </div>
      <div class="mb-3">
        <%= f.label :adoptaversary, class: 'form-label' %><br>
        <div class="select_raw">
          <%= raw sprintf(f.date_select(:adoptaversary, {prefix:'adoptaversary', prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:1920, date_separator:'%s'}, {class: 'form-select', style: 'display: inline-block;width: auto;'}),'年','月')+'日' %>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :age, class: 'form-label', id: 'label-age' %>
        <span class="age_comment attention hidden">  生年月日が分かっている場合、入力は不要です。</span><br>
        <div class="select_raw", id="raw_age">
          <%= raw sprintf(f.select :age, options_for_select((0..99).to_a), {prompt:"--", include_blank: true}, {class: 'form-select', style: 'display: inline-block;width: auto;'}) +' 歳' %>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :comment, class: 'form-label' %>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>
    </div>
    <div class="btn-area">
      <%= f.submit t('defaults.save'),class: 'save-btn' %>
    </div>
  </div>

<% end %>
