<section class="reptiles_list">
  <article class="hover_box">
    <%= link_to reptile_path(reptile), id: "reptile_#{reptile.id}" do %>
      <div class="left_column">
        <%= image_tag reptile.image.url, class: 'rounded-circle card-img-top', size: '20x20' %>
      </div>
      <div class="right_column">
        <div class="name-space">
          <h3 class="reptile_name"><%= reptile.name %></h3>
          <span class="sex-category">
            <% case reptile.sex %>
            <% when 'unknown' %>
              <i class="fas fa-question"></i>
            <% when 'male' %>
              <i class="fas fa-mars"></i>
            <% when 'female' %>
              <i class="fas fa-venus"></i>
            <% end %>
          </span>
        </div>
        <div class="reptile_category-space small">
          <% if reptile.reptile_category.present? %>
            <span class="reptile_status"><span class="iconify" data-icon="dashicons:category" data-width="17" data-height="17"></span><%= reptile.reptile_category %></span>
          <% end %>
        </div>
        <div class="morph-space small">
          <% if reptile.morph.present? %>
            <span class="reptile_status"><span class="iconify" data-icon="carbon:category" data-width="17" data-height="17"></span><%= reptile.morph %></span>
          <% end %>
        </div>
        <div class="birthday-space small">
          <% if reptile.birthday.present? %>
            <span class="reptile_status"><i class="fas fa-birthday-cake"></i><%= reptile.birthday&.strftime("%Y年%-m月%-d日") %>(<%= reptile.decorate.full_age %>)</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </article>
</section>

