<% content_for(:title, @reptile.name) %>
<div class="container mb-5">
  <h1 class="reptile"><%= t('.title') %></h1>
  <div class="row reptile_profile">
    <div class="col-sm-4">
      <div class="image">
        <% if @reptile.image && @reptile.image.url %>
          <%= image_tag @reptile.image.url %>
        <% else %>
          <%= image_tag 'default_reptile.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="name-space">
        <div class="name">
          <%= @reptile.name %>
        </div>
        <div class="crud_menus">
          <%= render 'crud_menus', reptile: @reptile if current_user.own?(@reptile) %>
        </div>
      </div>

      <div class="details">
        <div class="category detail-content">
          <div class="icon-area">
            <span class="iconify" data-icon="dashicons:category" data-width="30" data-height="30"></span>
          </div>
          <div class="text-area">
            <div class="icon-text small">
            種類
            </div>
            <div class="icon-message">
              <% if @reptile.reptile_category.present? %>
                <%= @reptile.reptile_category %>
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="morph detail-content">
          <div class="icon-area">
            <span class="iconify" data-icon="carbon:category" data-width="30" data-height="30"></span>
          </div>
          <div class="text-area">
            <div class="icon-text small">
            モルフ
            </div>
            <div class="icon-message">
              <% if @reptile.morph.present? %>
                <%= @reptile.morph %>
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="sex detail-content">
          <div class="icon-area">
            <i class="fas fa-venus-mars fa-fw"></i>
          </div>
          <div class="text-area">
            <div class="icon-text small">
              性別
            </div>
            <div class="icon-message">
              <% if @reptile.sex.present? %>
                <%= @reptile.sex_i18n %>
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="birthday detail-content">
          <div class="icon-area">
            <i class="fas fa-birthday-cake fa-fw"></i>  
          </div>
          <div class="text-area">
            <div class="icon-text small">
              誕生日
            </div>
            <div class="icon-message">
              <% if @reptile.birthday.present? %>
                <%= @reptile.birthday&.strftime("%Y年%-m月%-d日") %>(<%= @reptile.decorate.full_age %>)
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="adoptaversary detail-content">
          <div class="icon-area">
            <i class="fas fa-home fa-fw"></i>  
          </div>
          <div class="text-area">
            <div class="icon-text small">
              お迎え日
            </div>
            <div class="icon-message">
              <% if @reptile.adoptaversary.present? %>
                <%= @reptile.adoptaversary&.strftime("%Y年%-m月%-d日") %>(<%= @reptile.decorate.full_adoptaversary %>)
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="comment detail-content">
          <div class="icon-area">
            <i class="fas fa-comment fa-fw"></i>
          </div>
          <div class="text-area">
            <div class="icon-text small">
              自己紹介
            </div>
            <div class="icon-message">
              <% if @reptile.comment.present? %>
                <%= @reptile.comment %>
              <% else %>
                <span class="text-none">入力がありません</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>