<div class="container log_index">
    <h1 class="timeline"><%= t('.title') %></h1>
  <div class="row">
  </div>
  <div class="row title">
    <div class="col right-column">
      <span class="name-link">
        <%= image_tag @reptile.image.url, class: 'rounded-circle card-img-top', size: '20x20A' %>
        <%= link_to reptile_path(@reptile) do %>
          <span class="reptile_name"><%= @reptile.name %></span>
        <% end %>
      </span>
      <div class="log_btn">
        <%= link_to new_reptile_log_path(@reptile) do %>
          <i class="fas fa-plus-circle"></i>記録
        <% end %>
      </div>
    </div>
  </div>
<%# ===============タイムライン================================================================= %>
  <ul class="timeline scroll-list jscroll">
    <% @logs_by_date.each do |date, logs| %>
    <li class="timeline-item bg-light rounded mt-3  p-4 shadow">
      <div class="timeline-arrow"></div>
      <h2 class="h5 mb-0"><%= l date, format: :long %></h2>
      <% logs.each do |log| %>
        <div class="content">
          <span class="small text-gray"><i class="far fa-clock me-1"></i></i><%= l log.logged_at, format: :long %></span>
          <%= link_to reptile_log_path(@reptile, log), class: 'delete-icon', method: :delete, data: { confirm: "#{l log.logged_at, format: :long}の記録を削除しますか？" } do %>
          <i class="fas fa-trash"></i>
          <% end %>
          <%= render 'logs/logs', log: log %>
        </div>
      <% end %>
    </li>
    <% end %>
    <%# =============== ページネーション ================================================================= %>
    <div class="row log-paginate">
      <div class="col-md-12">
        <%= paginate @logs %>
      </div>
    </div>
<%# ===== 画像のモーダル時のグレー背景 ==================================================== %>
    <div id="grayDisplay"></div>
  </ul>
<%# =============== タイムラインここまで ================================================================= %>
</div>
