<div class="container">
  <h1 class="log"><%= t('.title') %></h1>
  <div class="row log_new">
    <div class="col-sm-4">
      <div class="image">
        <% if @reptile.image && @reptile.image.url %>
          <%= image_tag @reptile.image.url %>
        <% else %>
          <%= image_tag 'default_reptile.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="raw">
        <div class="name">
          <%= @reptile.name %>
        </div>
      </div>
      <div class="form">
        <%= form_with model: [@reptile, @log], local: true do |f| %>
          <h3 class="date"><%= l Date.current, format: :long %></h3>
          <div class="mb-3">
            <%= f.label :remark, class: 'form-label' %>
            <%= f.text_area :remark, class: 'form-control', placeholder:"メモを書いてください" %>
          </div>

          <span class="condition_area">調子</span>
          <div class="condition-container">
            <div class="radio-tile-group">
              <div class="input-container">
                <%= f.radio_button :condition, :smile, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon smile-icon">
                    <i class="fas fa-smile"></i>
                  </div>
                  <%= f.label :condition, :smile, class: 'radio-tile-label smile' %>
                </div>
              </div>
              <div class="input-container">
                <%= f.radio_button :condition, :meh, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon meh-icon">
                    <i class="fas fa-meh"></i>
                  </div>
                  <%= f.label :meh, class: 'radio-tile-label meh' %>
                </div>
              </div>
              <div class="input-container">
                <%= f.radio_button :condition, :tired, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon tired-icon">
                    <i class="fas fa-tired"></i>
                  </div>
                  <%= f.label :tired, class: 'radio-tile-label tired' %>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <%= f.fields_for :log_feeds do |log_feeds_f| %>
              <div class="mb-3">
                <%= log_feeds_f.label :name, class: 'form-label' %>
                <%= log_feeds_f.collection_select(:feed_id, @feeds, :id, :name, {prompt: "--"}, {class: 'form-select', style: 'display: inline-block;width: auto;'}) %>
              </div>
              <div class="mb-3">
                <%= log_feeds_f.label :count, class: 'form-label'%>
                <%= log_feeds_f.number_field :count, class: 'form-control', style: 'display: inline-block;width: auto;' %>
              </div>
            <% end %>
          </div>

          <span class="shit_area">排泄</span>
          <div class="shit-container">
            <div class="radio-tile-group">
              <div class="input-container">
                <%= f.radio_button :shit, :good, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon good-icon">
                    <i class="fas fa-poop good"></i>
                  </div>
                  <%= f.label :good, class: 'radio-tile-label good' %>
                </div>
              </div>
              <div class="input-container">
                <%= f.radio_button :shit, :bad, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon bad-icon">
                    <i class="fas fa-poop bad"></i>
                  </div>
                  <%= f.label :bad, class: 'radio-tile-label bad' %>
                </div>
              </div>
            </div>
          </div>

          <span class="creaning_area">掃除</span>
          <div class="creaning-container">
            <label>
              <%= f.check_box :creaning, class: 'checkbox' %>
              <span class="checkbox-fontas"></span>
            </label>
          </div>

          <span class="handling_area">ハンドリング</span>
          <div class="handling-container">
            <label>
              <%= f.check_box :handling, class: 'checkbox' %>
              <span class="checkbox-fontas"></span>
            </label>
          </div>

          <span class="shit_area">脱皮状態</span>
          <div class="sheding-container">
            <div class="radio-tile-group">
              <div class="input-container">
                <%= f.radio_button :sheding, :shed, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon shed-icon ">
                    <%=  embedded_svg("gray-shed.svg") %>
                  </div>
                </div>
              </div>
              <div class="input-container">
                <%= f.radio_button :sheding, :white, class: 'radio-button' %>
                <div class="radio-tile">
                  <div class="icon white-icon">
                    <%=  embedded_svg("gray-white.svg") %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <span class="bath_area">温浴</span>
          <div class="bath-container">
            <label>
              <%= f.check_box :bath, class: 'checkbox' %>
              <span class="checkbox-fontas"></span>
            </label>
          </div>

          <div class="mb-3 w-25">
            <%= f.label :weight,  class: 'form-label' %>
            <%= f.number_field :weight, class: 'form-control', step: '0.1', placeholder:"100" %>
          </div>
          <div class="mb-3 w-25">
          <%= f.label :length, class: 'form-label' %>
          <%= f.number_field :length, class: 'form-control', step: '0.1', placeholder:"100" %>
          </div>
          <div class="mb-3 w-25">
          <%= f.label :temperature, class: 'form-label' %>
          <%= f.number_field :temperature, class: 'form-control', step: '0.1', placeholder:"27" %>
          </div>
          <div class="mb-3 w-25">
          <%= f.label :humidity, class: 'form-label' %>
          <%= f.number_field :humidity, class: 'form-control', step: '0.1', placeholder:"60" %>
          </div>
          <div class="mb-3">
            <%= f.label :images, class: 'form-label d-block' do %>
              <span class="btn-flat-dashed-border", id="images_btn"><i class="fas fa-image"></i>ファイルを選択</span>
              <%= f.file_field :images, class: "images_form hidden", accept: 'image/*', multiple: true %>
              <%= f.hidden_field :images_cache %>
            <% end %>
          </div>
          <div class="image_field">
            <img id='preview_0'>
            <img id='preview_1'>
            <img id='preview_2'>
            <img id='preview_3'>
            <img id='preview_4'>
          </div>

          <%= f.submit class: 'btn btn-primary my-2 mx-auto d-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
