<div class="container">
  <h1 class="log"><%= t('.title') %></h1>
  <div class="row log_new">
    <div class="col-sm-4">
      <div class="image">
        <% if @reptile.image && @reptile.image.url %>
          <%= image_tag @reptile.image.url %>
        <% else %>
          <%= image_tag 'default_reptile.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="raw">
        <div class="name">
          <%= @reptile.name %>
        </div>
      </div>
      <div class="form">
        <%= form_with model: [@reptile, @log], local: true do |f| %>
          <h3 class="date"><%= l Date.current, format: :long %></h3>
          <div class="mb-3">
            <%= f.label :remark, class: 'form-label' %>
            <%= f.text_area :remark, class: 'form-control', placeholder:"メモを書いてください" %>
          </div>
          <div class="mb-3">
            <%= f.label :condition, class: 'form-label' %><br>
            <%= f.collection_radio_buttons :condition, Log.conditions_i18n, :first, :last do |b| %>
            <%= b.label(class: 'btn btn-outline-secondary') { b.radio_button(class: 'btn btn-secondary') + b.text } %>
            <% end %>
          </div>
          <div class="mb-3">
            <%= f.fields_for :log_feeds do |log_feeds_f| %>
              <div class="mb-3">
                <%= log_feeds_f.label :name, class: 'form-label' %>
                <%= log_feeds_f.collection_select(:feed_id, @feeds, :id, :name, {prompt: "--"}, {class: 'form-select', style: 'display: inline-block;width: auto;'}) %>
              </div>
              <div class="mb-3">
                <%= log_feeds_f.label :count, class: 'form-label'%>
                <%= log_feeds_f.number_field :count, class: 'form-control', style: 'display: inline-block;width: auto;' %>
              </div>
            <% end %>
          </div>
          <div class="mb-3">
            <%= f.label :shit, class: 'form-label' %>
            <%= f.collection_radio_buttons :shit, Log.shits_i18n, :first, :last do |b| %>
            <%= b.label(class: 'btn btn-outline-secondary') { b.radio_button(class: 'btn btn-secondary') + b.text } %>
            <% end %>
          </div>
          <div class="mb-3">
          <%= f.check_box :creaning, class: 'form-check-input', id:'check_birthday' %>
          <%= f.label :creaning,  class: 'fomr-check-label' %>
          </div>
          <div class="mb-3">
          <%= f.check_box :handling, class: 'form-check-input', id:'check_birthday' %>
          <%= f.label :handling, class: 'fomr-check-label' %>
          </div>
          <div class="mb-3">
          <%= f.label :sheding, class: 'form-label' %>
            <%= f.collection_radio_buttons :sheding, Log.shedings_i18n, :first, :last do |b| %>
            <%= b.label(class: 'btn btn-outline-secondary') { b.radio_button(class: 'btn btn-secondary') + b.text } %>
            <% end %>
          </div>
          <div class="mb-3">
          <%= f.check_box :bath, class: 'form-check-input' %>
          <%= f.label :bath, class: 'fomr-check-label' %>
          </div>
          <div class="mb-3 w-25">
            <%= f.label :weight,  class: 'form-label' %>
            <%= f.number_field :weight, class: 'form-control', step: '0.1', placeholder:"100" %>
          </div>
          <div class="mb-3 w-25">
          <%= f.label :length, class: 'form-label' %>
          <%= f.number_field :length, class: 'form-control', step: '0.1', placeholder:"100" %>
          </div>
          <div class="mb-3 w-25">
          <%= f.label :temperature, class: 'form-label' %>
          <%= f.number_field :temperature, class: 'form-control', step: '0.1', placeholder:"27" %>
          </div>
          <div class="mb-3 w-25">
          <%= f.label :humidity, class: 'form-label' %>
          <%= f.number_field :humidity, class: 'form-control', step: '0.1', placeholder:"60" %>
          </div>
          <div class="mb-3 w-25">
            <%= f.label :images, class: 'form-label d-block' do %>
              <span class="btn btn-outline-secondary", id="images_btn">画像登録</span>
              <%= f.file_field :images, class: "images_form hidden", accept: 'image/*', multiple: true %>
              <%= f.hidden_field :images_cache %>
            <% end %>
          </div>
          <div class="image_field">
            <img id='preview_0'>
            <img id='preview_1'>
            <img id='preview_2'>
            <img id='preview_3'>
            <img id='preview_4'>
          </div>

          <%= f.submit class: 'btn btn-primary my-2 mx-auto d-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
