<%= javascript_pack_tag 'nathanvda_cocoon', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="log"><%= t('.title') %></h1>
  <div class="row log_new">
    <div class="col-sm-4">
      <div class="image">
        <% if @reptile.image && @reptile.image.url %>
          <%= image_tag @reptile.image.url %>
        <% else %>
          <%= image_tag 'default_reptile.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="name-space">
        <%= link_to reptile_path(@reptile) do %>
          <div class="name">
            <%= @reptile.name %>
          </div>
        <% end %>
      </div>
      <div class="form">
        <%= form_with model: @log, url:[@reptile, @log], local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="mb-3 logged_at-area">
            <%= f.label :logged_at, class: 'form-label' %><br/>
            <%= f.datetime_field :logged_at, class: 'form-control', value: Time.current.strftime('%Y-%m-%dT%T')  %>
          </div>
          <%= render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>