<% content_for(:title, t('.title')) %>
<div class='container user_session'>
  <div class='row'>
    <div class='col-md-10 offset-md-1 col-lg-8 offset-lg-2'>
      <h1 class="sign-in"><%= t '.title' %></h1>
      <%= form_with url: login_path, local: true do |f| %>
        <section class="content_accountForm bg_paleblue">
          <div class='mb-3'>
            <%= f.label :email, User.human_attribute_name(:email), class: 'form-label' %> <span class="badge bg-danger">必須</span>
            <%= f.text_field :email, class: 'form-control mb-3' %>
          </div>
          <div class='mb-3'>
            <%= f.label :password, User.human_attribute_name(:password), class: 'form-label' %> <span class="badge bg-danger">必須</span>
            <%= f.password_field :password, class: 'form-control mb-3' %>
          </div>
          <div class='actions text-center'>
            <%= f.submit (t 'defaults.login'), class: 'btn-square-so-pop' %>
          </div>
          <p>
            パスワードをお忘れの方は<%= link_to '再発行ページへ', new_password_reset_path %>
          </p>
        </section>
      <% end %>
      <div class="text-center">
        <p><%= link_to 'アカウントを新規作成', new_user_path, class: 'btn btn-outline-primary' %></p>
      </div>
      <div class="balloon_box bg_lightgray text-center mx-2">
        初めてご利用の方は、上記ボタンを押して、
        <br>
        レプログ!のアカウントを作成してください。
      </div>
      <div class='text-center mt-3'>
        <%= link_to 'トップページへ', root_path %>
      </div>
    </div>
  </div>
</div>