<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/css/drawer.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/js/drawer.min.js"></script>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  </head>
  <body class="drawer drawer--right <%= controller.controller_name %>" data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>" data-tabolinks="false">

      <% if logged_in? %>
        <%# <%= render 'shared/header' %>
        <%= render 'shared/drawer' %>
      <% else %>

          <%= render 'shared/before_login_header' %>

      <% end %>

    <%= render 'shared/flash_message' %>
    <%= yield %>
    <% if current_page?(login_path) || current_page?(root_path) || current_page?(privacy_path) || current_page?(service_path) || current_page?(new_user_path)  %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/footer_menu' %>
    <% end %>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  </body>
</html>
